<!DOCTYPE html>
<html>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <head>
    <style>
      body {
        padding: 20px;
      }
    </style>
  </head>
  <body>
    <p>Вітаємо!</p>

    <p>Ваше звернення {{refundOrderNumb}} зареєстровано!</p>

    <p>Після обробки звернення, ми надішлемо Вам лист або зв’яжемось за вказаним у зверненні номером телефону.</p>

    <p>Цей лист створено автоматично. Будь ласка, не відповідайте на нього.</p>

    <hr/>

    <p>{{companyName}}</p>

    <p>Телефон: {{companyPhone}}</p>
  </body>
</html>

